page-home {

}

.back{
background-image: url("../assets/background.png") ;
background-size: 468px 657px;
}
#setup{
  position: relative;
  top: 240px;
  left: 70px;
}
#food{
position: relative;
top: 240px;
  left: -75px;
}
#exercise{
  position: relative;
  top: 430px;
  left:-100px;
}
#record{
    position: relative;
  top: 150px;
  left: -30px;
}
#drag{
   width: 150px;
    height: 150px;
     padding: 0.5em; 
     top:-100px;
}